.section__bottom {
    display: flex;
    height: 1.5vw;    
    align-items: center;
    color:rgb(235, 167, 78);
    background:rgb(99, 36, 11);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    /*.menu__list {flex-direction: column;}*/
    .section__bottom {height: 3vh;}
}