.header {
    position: relative;
}

.fon__header {
    object-fit: fill;
    width: 100%;
}

.site__name {
    max-width: 100px;
    text-align: center;
    margin-left: 10%;
    position: absolute;
    top: 10%;
}

.site__name--title {
    text-decoration: none; /* отключили подчеркивание у ссылок */
    font-family: 'Logo__font';	
    font-size: 4vw;
    font-style: italic;
    color: rgb(99, 36, 11);
} 

.site__contacts {   
    position: absolute;
    bottom: 2%;
    font-size: 1.25vw; 
    margin-left: 2%;
}

.site__contacts--phone {
    display: inline-block;
    margin-right: 50px;    
}

.site__contacts--mail{
    display: inline-block;
}

.phone {
    text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 920px) {
    .site__contacts {font-size: 12px;}
    .site__contacts--phone {margin-right: 5px;}
}