.menu {
    display: flex;
    padding: 0 0.5em;   
    color:rgb(235, 167, 78);
    background:rgb(99, 36, 11);
    column-gap: 1.25em;
    flex-wrap: wrap;
}

.menu__link {
    font-size: 1vw;
    text-decoration: none; /* отключили подчеркивание у ссылок */
    font-weight: bold;
}

.menu__link:hover {
    text-decoration: none; 
    color:chocolate;    
    
}



.news {
    padding: 3vh 10px;
    text-align: center;
}

.news__item {
    margin-bottom: 3vw;
    font-size: 2vw;
}

.menu__link-activ {
    color:chocolate;
}


.single-news__text-content a:hover {
    text-decoration: none;
    font-weight: bold;    
}

.active__link-news {
    text-decoration: none;
    font-weight: bold;
}

.single-news__item-desc {
    text-decoration: none;
    color: rgb(49, 8, 8);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    /*.menu__list {flex-direction: column;}*/
    .menu__link {font-size: 2vh;}
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    /*.menu__list {flex-direction: column;}*/
    .news__item {font-size: 3vw;}
}