html, body {
    height: 100%;
}

body {
    color: white; /*Цвет текста на странице*/
    font-size: 16px;
    line-height: 1.42;    
    font-family: 'Open Sans', sans-serif;
    
    margin: 0;
    padding: 0;
    background:  url(../../img/fons/fon_page.jpg) center top;
}

a {
    color: inherit; /* цвет шрифта от родителя (body) */
}

ul {
    padding: 0;
    margin: 0;
} /* Сброс стандартных отступов у списка) */

ul li {
    list-style: none;
} /* Сброс стиля отображения списка (отключили точки у списка на каждой строчке) */

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
} /* сброс внешних отступов у загаловков и установка ширины букв в шрифте */

p {
    margin-top: 0;
    text-indent: 1.5%;
    font-size: 1.75vw;
} /* сброс отступов у параграфов*/

* {
    box-sizing: border-box; /* фикисрованный размер блока, что бы текст не растягивал блок */
}

img {
    display: block;
    max-width: 100%;
    height: 100%;
}

button {
    background: transparent;
    border: none;
}

span {
    color: black;
    /*font-weight: bold;*/
}

.wrapper {
    overflow: hidden; /* прячет скрол страницы */    
    /*min-height: 100%; /* высота страницы от родителя (html->body) что бы страница растягивалась на весь экран устройства */
    display: flex; /* переключили стиль на флекс */
    flex-direction: column; /* установили расположение элементов страницы в колоночный вид */
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.mail-page-wrapper {
    background-size: 100%; /*фоновое изображение на весь размер окна браузера*/
    
    background-attachment: fixed;
    
    
}

.container {    
    margin: 0 auto;
    width: 90%;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 650px;    
}