.menu {
    display: flex;
    padding: 0.5% 0.5%;
    align-items: center;
    color:rgb(235, 167, 78);
    background:rgb(99, 36, 11);
}

.menu__item {    
    vertical-align: middle; /* выравнивание блоков относительно серидины */
    margin-right: 50px;
    display: inline-block;
}

.menu__link {
    font-size: 16px;
    text-decoration: none; /* отключили подчеркивание у ссылок */
    font-weight: bold;
}

.news {
    padding: 12px 20px;
    text-align: center;
}

.news__item {
    margin-bottom: 20px;
    font-size: 18px;
}



.single-news__text-content a:hover {
    text-decoration: none;
    font-weight: bold;    
}

.single-news__item-desc {
    text-decoration: none;
    color: rgb(49, 8, 8);
}
