.reviews__images {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;   
    align-items: center;
}

.images__page {
    height: 85vh;
    margin-left: 1%;
    margin-bottom: 1%;
}